#auth_db
AUTH_DB_NAME=postgres
AUTH_DB_USER=postgres
AUTH_DB_PASSWORD=postgres
AUTH_DB_PORT=5432

#auth_app
AUTH_APP_SECRET=some_secret_key
AUTH_APP_ACCESS_TTL_MIN=15
AUTH_APP_ALGO=HS256

#catalog_db
CATALOG_DB_NAME=postgres
CATALOG_DB_USER=postgres
CATALOG_DB_PASSWORD=postgres
CATALOG_DB_PORT=5432

#order_app
ORDER_DB_NAME=postgres
ORDER_DB_USER=postgres
ORDER_DB_PASSWORD=postgres
ORDER_DB_PORT=5432

#rabbitMQ
RABBITMQ_HOST_NAME=rabbitmq
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_ADDITIONAL_ERL="-rabbit disk_free_limit 2147483648"